@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<div style="width:auto;height:auto;background-color:blue;">
    <div style="float:left;background-color:red;width:500px;height:auto;">
        <p>
            A Reale Petshop e Clínica Veterinária conta de mais de 20 anos cuidando do seu bichinho. Foi fundada em Jaraguá do Sul, 
            no ano de 1993, na época com o nome de Real Pet shop. São muitos anos de muito amor aos animais desde lá.
            Amamos o que fazemos, por isso trabalhamos com carinho e dedicação buscando o melhor para você e seu pet. Somos uma equipe 
            altamente profissional e em constante treinamento.
            Contamos atualmente com um Pet shop completo onde você encontra tudo o que precisar para seu pet. Dispomos ainda de uma clínica 
            veterinária, sempre pronta para lhe atender quando seu pet mais precisar. Venha nos conhecer.
        </p>
    </div>
</div>
