@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rua: Avenida do comércio<br />
    Zé Doca, Maranhão<br />
    Telefone:
    (47)3370-6666
</address>

<address>
    <strong>Vendas:</strong><a href="mailto:vendasdoze@ze.com">vendasdoze@ze.com.br</a><br />
</address>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3983.296930748681!2d-45.65453568516348!3d-3.276350197614755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x92b5a63b9b16c8d7%3A0x93f47d5e248af598!2sAv.+do+Com%C3%A9rcio%2C+Z%C3%A9+Doca+-+MA%2C+65365-000!5e0!3m2!1spt-BR!2sbr!4v1503012962729" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>