@model Vidly.Models.Species
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Dados especie</h2>
<hr />

<ul>
    <li>Id: @Model.id</li>
    <li>Tipo: @Model.nome</li>
</ul>

