@model IEnumerable<Vidly.Models.Species>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h2>Espécies</h2></center>

@if (@Model.Any())
{
    <table  class=" table table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Editar</th>
                <th>Remover</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var especie in Model)
{
    <tr>
        <td width="5px"><a href="/Especie/Details/@especie.id">@especie.id</a></td>
        <td width="5px">@Html.ActionLink(@especie.nome, "Details", new { especie.id })</td>
        <td width="5px"><a href="/Especie/edit/@especie.id"><input type="button" value="Editar"></a></td>
        <td width="5px"><button class='btn-link js-delete' data-customer-id='" + data + "'>Nada</button><td>
    </tr>
}
        </tbody>
    </table>
}
else
{
    <p>Não possui nenhuma espécie cadastrada.</p>
}
@section scripts
{
    <script>
            $("#customers").on("click", ".js-delete",
                function () {
                    var button = $(this);
                    bootbox.confirm("Are you sure you want to delete this customer?", function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/customers/" + button.attr("data-customer-id"),
                                method: "DELETE",
                                success: function () {
                                    table.row(button.parents("tr"))
                                         .remove().draw();
                                }
                            });
                        }
                    });
                });
    </script>
}