@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (@Model.Any())
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr><th>Clientes</th></tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr><td>@Html.ActionLink(@customer.nome, "Details", new { customer.id })</td></tr>
            }
        </tbody>
    </table>
}
else
{
    <p>We don't have any customers yet.</p>
}